<div class="checkdone-page">
  <div class="container">
    <div class="wrapper">
      <div class="image-wrapper">
        <img src="../../../../assets/image/checkdone.png">
      </div>
      <div class="title">
        <p>check your inbox for your new & fresh download link</p>
      </div>
      <div class="notice">
        <p>(Just remember, To keep all links fresh they are only available for download two times and they are deleted
          after
          one week.)</p>
      </div>

      <div class="btn-wrapper">
        <div class="btn-item">
          <button class="" (click)="clear()">close & clear selection</button>
        </div>
        <div class="divider">Or</div>
        <div class="btn-item">
          <button class="round" (click)="keep()">close & keep selection</button>
        </div>
      </div>
    </div>

  </div>
</div>