.checkdone-page {
  .wrapper {
    margin: auto;
    text-align: center;
    text-transform: uppercase;

    .image-wrapper {
      margin-top: 20px;
      margin-bottom: 70px;
      img {
        width: 100px;
      }
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .notice {
      font-weight: bold;
      font-size: 14px;
      max-width: 500px;
      margin: auto;
    }

    .btn-wrapper {
      margin-top: 50px;

      .divider {
        margin-bottom: 20px;
      }

      .btn-item {
        margin-bottom: 20px;

        button {
          background-color: #25ae8a;
          font-size: 14px;
          padding: 10px 30px;
          border-radius: 25px;
          border: none;
          color: white;
          text-transform: uppercase;
  
          &:hover {
            background-color: #3ac28c;
          }
  
          &:focus {
            outline: none;
          }
  
          &.round {
            background-color: transparent;
            border: 2px solid #25ae8a;
            color: #25ae8a;

            &:hover {
              background-color: #3ac28c;
              color: white;
            }
          }
        }
      }
      
    }
  }
}