.content {
  position: relative;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.content-inner {
  min-height: calc(100vh - 170px);
  padding-top: 30px;
  position: relative;
}

.selectedItems {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.96);
  padding: 20px 5px;
  font-weight: bold;
  text-transform: uppercase;

  .clearSelection {
    color: #650000;
    line-height: 40px;
    cursor: pointer;

    .text {
      vertical-align: middle;
    }

    img {
      width: 20px;
      vertical-align: middle;
    }
  }

  .selectedCount {
    line-height: 40px;
  }

  button {
    background-color: #25ae8a;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    color: white;
    text-transform: uppercase;

    &:hover {
      background-color: #3ac28c;
    }

    &:focus {
      outline: none;
    }
  }
}

.categoryToggle {
  // display: none!important; //// for parklane
  position: fixed;
  top: 40vh;
  left: 30px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  z-index: 1000;
  padding: 6px;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);

  img {
    width: 40px;
  }
}

 
@media (min-width: 768px) {
	.categoryToggle {
    left: 7%;    
  }
}


// .categoryToggle {
//   button {
//     height: 52px;
//     font-size: 17px;
//     width: 100%;
//     border: 1px solid gray;
//     border-radius: 5px;

//     > * {
//       vertical-align: middle
//     }
//   }
// }

.category-sidenav {
  width: 300px;
  text-transform: uppercase;
  padding: 30px 20px 30px 40px;

  .categories {
    .category-item {
      margin: 15px 0px;
      cursor: pointer;
      color: gray;

      &.selected {
        color: black;
        font-weight: bold;
      }
    }
  }
}

.search-bar {
  .searchInputWrapper {
    input {
      width: 100%;
      font-size: 18px;
      padding: 20px;
      border: none;
      font-weight: bold;

      &:focus {
        outline: none;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9c9c9c;
        opacity: 1; /* Firefox */
      }
      
      &::-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #9c9c9c;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #9c9c9c;
      }
    }
  }
}

.images-wrapper {
  margin-top: 10px;
  padding-bottom: 30px;

  .item {
    margin-top: 8px;
    position: relative;
    padding: 5px;

    img {
      width: 100%;
      
    }

    &.selected {
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      background-color: white;
      // box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.25);

      -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);

      .backdrop {
        display: block;
      }  
      .check {
        display: inline-block;
      }
    }

    .backdrop {
      display: none;
      position: absolute;
      background-color: rgba(255,255,255, 0.4);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .check {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      
      span {
        display: inline-block;
        padding: 10px;
        border-radius: 100%;
        background-color: green;

        i {
          color: white;
          font-size: 30px;
        }
      }

      img {
        width: 40px;
      }
    }


  }



  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
  }
  
  .column img {
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .loadMoreWrapper {
    margin-top: 30px;

    button {
      background-color: #25ae8a;
      font-size: 14px;
      padding: 10px 50px;
      border-radius: 25px;
      border: none;
      color: white;
      text-transform: uppercase;
  
      &:hover {
        background-color: #3ac28c;
      }
  
      &:focus {
        outline: none;
      }
    }
  }
}


.footer {
  text-align: center;
  height: 80px;
  padding: 15px;
  background-color: white;

  .footer-inner {
    display: inline-block;
    cursor: pointer;
  }

  .image {
    //display: none;   /// for only demo
    margin: 10px;
    width: 80px;
  }

  .footer-text {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0;
    cursor: pointer;
    color: black;
  }

  .samla-logo {
    width: 70px;
  }
}

